* {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

#instruction {
    text-align: center;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px solid #1ba9c2;
    box-shadow: #b12525 0px 0px 10px 0px;
}

#body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #1b1a1a;
    color: antiquewhite;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #1b1a1a;
    color: antiquewhite;
    justify-content: center;
    align-items: center;

}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 5vh;
    width: 50vw;
    background-color: black;
    line-height: 5vh;
    border-radius: 20px;
    border-bottom: 2%;
    border-bottom-style: solid;
    border-bottom-color: #f34949;
    box-shadow: #b12525 0px 0px 10px 0px;
}

#gameBody {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80vh;
    background-color: #99b96e;
    border-radius: 20px;
    border-bottom: 2%;
    border-bottom-style: solid;
    border-bottom-color: #f34949;
    box-shadow: #b12525 0px 0px 10px 0px;
    color: black;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: center;


}

.slots {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #2a2b2a;
    border-radius: 20px;
    height: 15vh;
    margin: 1%;
    color: rgb(255, 255, 255);
    font-size: 120%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    justify-content: center;
    cursor: pointer;
    box-shadow: #ff0000 0px 0px 10px 0px;

}

.slots.flipped {
    transform: rotateY(180deg);
    color: #ffeded;
}

.cardFront,
.cardBack {
    backface-visibility: hidden;
    transition: transform 1s;
}

.cardFront {
    font-size: 200%;
    transform: rotateY(0deg);

}

.cardBack {
    transform: rotateY(180deg);
    color: #ffeded;
    font-size: 250%;
}



#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 50vw;
    background-color: black;
    line-height: 5vh;
    border-radius: 20px;
    border-top: 2%;
    border-top-style: solid;
    border-top-color: #f34949;
    box-shadow: #b12525 0px 0px 10px 0px;
}

#win {
    text-align: center;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px solid #1ba9c2;
    box-shadow: #b12525 0px 0px 10px 0px;
    padding: 2%;
}

#nextLevel {
    display: block;
    margin: 0 auto;
    background-color: #1ba9c2;
    border-radius: 20px;
    padding: 3%;
    font-size: 150%;
}

#start {
    background-color: #1ba9c2;
    border-radius: 20px;
    width: 25vw;
    height: 5vh;
    box-shadow: #ffffff 0px 0px 10px 0px;
    font-size: 110%;
    font-family: Arial, Helvetica, sans-serif;

}

#start:hover {
    background-color: #1b1a1a;
    color: antiquewhite;
    border: 2px solid #1ba9c2;
    cursor: pointer;
}